*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    background: radial-gradient(circle at 10% 20%, rgb(0, 93, 133) 0%, rgb(0, 181, 149) 90%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background-color: white;
    border-radius: 15px;
    width: 450px;
    height: 600px;
    padding: 15px;
    border: 2px solid black;
    overflow: scroll;
    /* min-width: min-content; */

}
h1 {
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin-bottom: 15px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.search-container{
    display: flex;
    align-items: baseline;
}
.search{
    width: 90%;
    height: 40px;
    padding-left: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: medium;
}
.search-icon{
    text-align: center;
    margin-left: -50px;
    cursor: pointer;
}
.add-container{
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.add-container input{
    width: 90%;
    height: 40px;
    padding-left: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: medium;
}
.add-button{
    width: 5em;
    height: 2em;
    font-weight: bold;
    background-color: #33b89b;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom:30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}
.add-button:hover{
    scale: 1.02;
}
/* .todos-container{
    background: red;
    overflow: initial;
} */
.todo-item{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    height: 50;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    border-radius: 10px;
}
.strikethrough{
    background: rgb(236, 229, 229);
}
input[type=checkbox]{
    margin-right: 20px;
    margin-left: 20px;
}

.todo-item span{
    width: 50%;
}
.category-container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* background: red; */
}
.category-container input{
    width: 11em;
    height: 2em;
    font-weight: bold;
    background-color: #33b89b;
    cursor: pointer;
    border-radius: 5px;
}
.category-container select{
    width: max-content;
    height: 2em;
    font-weight: bold;
    background-color: #33b89b;
    cursor: pointer;
    border-radius: 5px;
    /* margin-bottom:30px; */
}
.delete-button{
    margin-right: 10px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.delete-button:hover{
    scale: 1.03;
}
.category,.date{
    font-style: italic;
}
.category{
    color: rgb(105, 103, 103);
}
.date{
    text-align: end;
}
.todo-details{
    width: 72%;
    display: flex;
    flex-direction: column;
    align-items:  stretch;
    justify-content: space-between;
}
.todo-text{
    margin-bottom: 5px;
    font-family: sans-serif;
}
.date-category{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.search-and-filter{
    /* background: red; */
    display: flex;
    flex-direction: column;
}
.filters{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.filters span{
    margin-right: 10px;
    font-size: medium;
    font-weight: bold;
}
.filters input{
    width: 10em;
    height: 2em;
    font-weight: bold;
    background-color: #33b89b;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
    text-align: center;
}
.filters select{
    width: max-content;
    height: 2em;
    font-weight: bold;
    background-color: #33b89b;
    cursor: pointer;
    border-radius: 5px;
}

.check{
    font-size: large;
    margin-left: 15px;
    margin-right: 15px;
    background: white;
    cursor: pointer;
}
.checked{
    background: rgb(50, 240, 69);
}
