*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    /* background-color: rgb(83, 170, 170); */
    background: radial-gradient(circle at 10% 20%, rgb(0, 93, 133) 0%, rgb(0, 181, 149) 90%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background-color: white;
    border-radius: 15px;
    width: 450px;
    height: 600px;
    padding: 15px;
    border: 2px solid black;
}
h1 {
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin-bottom: 15px;
    text-align: center;
}
.search{
    width: 90%;
    height: 40px;
    padding-left: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    font-size: medium;
}
.todo{
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.todo-input{
    width: 90%;
    height: 40px;
    padding-left: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: medium;
}
.add-button{
    width: 8em;
    height: 3em;
    font-weight: bold;
    background-color: #33b89b;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom:30px;
}
.add-button:hover{
    scale: 1.02;
}
#todo-container{
    /* background: red; */
}
.task-item{
    display: flex;
    align-items: center;
    justify-content:space-between ;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 15px;
    height: 50;
}
.check{
    height: 100%;
    font-size: large;
}
input[type=checkbox]{
    margin-right: 20px;
}
.delete-container{
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.delete-container img{
    padding: 2px;
}
.delete-container img:hover{
    border-radius: 5px;
    background-color: rgb(209, 205, 205);
}
input[type=checkbox]:checked + span{
    text-decoration: line-through;
  }
  input[type=checkbox]:checked + .task-item{
    text-decoration: line-through;
  }
